@media screen and (max-width: 950px) {
    .hero-headline {
        font-size: 80px;
    }
}

@media screen and (max-width: 800px) {
    .hero-section {
        display: block;
        box-shadow: unset;
    }
    .hero-content {
        background: #fff;
        color: #000;
        padding: 20px;
    }
    .hero-content::after {
        content: unset;
    }
    .hero-content .btn-signup {
        display: none;
    }
    .hero-headline {
        font-size: 4.5rem;
        white-space: normal;
    }
    .hero-text {
        display: block;
        width: unset;
        font-size: 1.5rem;
    }
    .hero-img img {
        border-radius: 10px;
        margin-top: 40px;
    }
    .hero-section>.btn-signup {
        display: block;
        margin: 32px auto 10px;
        padding: 12px 35px;
    }
    .copyrights {
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .bground {
        top: 75px
    }
    .content {
        margin: 0% auto;
    }
}

@media screen and (max-width: 540px) {
    .topnav a {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .hero-content {
        min-width: 0;
    }
    .hero-headline {
        font-size: 50px;
    }
    .hero-headline {
        font-size: 50px;
    }
    .logoGameon {
        width: 150px;
        margin-top: 9px;
    }
}

@media screen and (max-width: 260px) {
    .btn-submit,
    .btn-valid {
        padding: 12px;
    }
    .hero-section>.btn-signup {
        display: block;
        margin: 32px auto 10px;
        padding: 12px;
    }
}